body{
	background-color: #0c94ac;
}


.imagem-logo{
	height: 80px; /* Ajuste a altura conforme necessário */
    width: auto;
}

.area-cabecalho{
	background-color: #045474;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100px; /* Defina a altura desejada */

}


.area-menu{
	background-color: #0c94ac;
	height: 30px;
	padding: 15px;
	display: block;
	border: solid 1px #f8c245;
	margin: 0 auto;
}

.area-menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
}

.area-menu li{
	display: inline;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.area-menu a{
	text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #0c94ac;
    border: 1px solid #fff;
}

.area-menu a:hover{
	background-color: #f1af14;
	color: #042f41;
}
