body {
	background-color: #0c94ac;
  }

  
  /* Estilize o cabeçalho */
  .area-cabecalho {
	background-color: #045474;
	display: flex;
	justify-content: space-between; /* Centralize horizontalmente e crie espaço entre elementos */
	align-items: center; /* Centralize verticalmente */
	height: 100px;
	padding: 0 20px; /* Adicione preenchimento aos lados para espaçamento */
	border: groove 5px #329dc7;
  }
  
  .imagem-logo {
	height: 80px;
	width: auto;
  }
  
  .perfil-user img {
	width: 80px; /* Reduzi o tamanho da imagem do perfil */
	height: auto;
	border-radius: 50%; /* Crie uma borda circular */
	margin-right: 35px; /* Adicione espaço entre a imagem e o cabeçalho */
  }
  
  /* Estilize o menu */
  .area-menu {
	background-color: #0c94ac;
	padding: 15px 0; /* Aumente o preenchimento vertical */
	border: groove 5px #0c94ac;
  }
  
  .area-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
  }
  
  .area-menu li {
	display: inline;
  }
  
  .area-menu a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border: 1px solid #fff;
  }
  
  .area-menu a:hover {
	background-color: #f1af14;
	color: #042f41;
  }

  
  /* Estilize a seção de sugestão de filme */
  #indicacao-filme {
	float: left;
	width: 30%; /* 30% da tela para a seção de sugestão de filme */
	max-width: 100%;
	height: 100vh;
	padding: 20px; /* Adicione preenchimento para espaçamento interno */
	
  }
  
  #indicacao-filme h1 {
	color: #fff;
	text-align: center;
  }
  
  #indicacao-filme .filme-indicado img {
	width: 100%;
	border: 1px solid #ffff;
  }

  #indicacao-filme .filme-indicado img:hover {
	scale: 1.01;
	border: 2px solid #f8c245;
  }

  
  /* Estilize os elementos "box-film" */
  .box-film {
	width: 150px; /* Ajuste o tamanho dos elementos de acordo com o design desejado */
	height: 200px;
	margin-right: 20px; /* Adicione espaço à direita dos elementos para separação */
	display: inline-block; /* Coloque os elementos em linha reta */
	padding: 10px;
  }

  .box-film img{
	width: 180px;
	border: 1px solid #ffff;
  }

  .box-film img:hover{
	scale: 1.01;
	border: 2px solid #f8c245;
  }
  
  /* Estilize a seção de lista de sugestões */
  #lista-sugestoes {
	float: right;
	width: 60%; /* 60% da tela para a seção de lista de sugestões */
	padding: 20px; /* Adicione preenchimento para espaçamento interno */
  }

