body {
  margin: 0;
  padding: 0;
  background-color: rgb(13, 33, 79);
  background-image: url('./imagens/background-azul-escuro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul{
  list-style-type: none;
}


/* Estilização do cabeçalho */
.area-cabecalho {
  background-color: #1c1c24;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  border: 5px groove #f1af14;
}

.imagem-logo {
  height: 40vh;
  width: auto;
}

.perfil-user img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin-right: 35px;
}

/* Estilização do menu */
.area-menu {
  width: 100vh;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.151);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
  
.area-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
  
.area-menu li {
	display: inline;
}
  
.area-menu a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border: 1px solid #fff;
}
  
.area-menu a:hover {
	background-color: #f1af14;
	color: #042f41;
}

/*Aside */
aside {
  position: absolute;
  background-color: #1c1c24;
  height: 100%;
  width: 20%;
  border: 5px groove #f1af14;
}

.texto-categorias{
  text-align: center;
  color: #f8c245;
}

.area-menu2 {
  border-radius: 30px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.151);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
  
.area-menu2 ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.area-menu2 li{
  margin-top: 20px;
}
  
  
.area-menu2 a {
	text-decoration: none;
  font-size: 20px;
	color: #fff;
}
  
.area-menu2 a:hover {
	background-color: #f1af14;
	color: #042f41;
}

/* Estilização da área de busca */

.barra-pesquisa{
  margin-left: 15px;
  margin-bottom: 10px;
  width: 90%;
}

.area-pesquisa{
  display: flex;
  background-color: #fff;
  border-radius: 30px;
}

.imagem-pesquisa img {
  width: 70%;
  height: auto; 
  display: block;
  margin: 0 auto; 
}

.input-pesquisa{
  border-radius: 30px;
  border: none;
  text-align: center;
}

#resultadoBusca{
  font-size: 20px;
  text-align: center;
  background-color: #042f41;
}

#resultadoBusca a {
	text-decoration: none;
  color: #f1af14;
}

/* Organização da Área main */

main{
  margin-left: 25%;
  height: 100%;
}

.container{
  height: 600px;
  overflow-y: scroll;
}
  
  
  /* Estilização dos elementos "box-film" */
.box-film {
	width: 150px; 
	margin-right: 25px;
	display: inline-block;
	padding: 10px;
}

.box-film img{
	width: 180px;
	border: 1px solid #ffff;
}

.box-film img:hover{
	scale: 1.01;
	border: 2px solid #f8c245;
}
  
  /* Estilização da seção de lista de sugestões */
#lista-sugestoes {
	width: 95%; 
	padding: 20px;
}

.carousel {
  display: flex; 
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

.container-filmes{
	height: 310px;
	overflow-x: hidden;
}

  
#lista-sugestoes h1 {
	color: #fff;
}

/* Estilização Scrollbar */
.header-films{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-arrow{
  height: 40px;
  width: auto;
  background-color: transparent;
  border: none;
}

.btn-arrow:hover{
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.719);
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
}

.title-btn{
  display: flex;
  margin-top: 50;
}

.arrow-btn {
  width: 30px;
  height: auto;
}

.btn-left{
  transform: rotate(180deg);
}


/* Estilização do Footer */

.style-footer{
  background-color: #1c1c24;
  color: #fff;
}

.nav-footer a{
  color: #fff;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.footer-section{
  width: 50%;
  display: flex;
  height: 100px;
}

.footer-section2{
  width: 50%;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

.developer{
  text-align: center;
  font-size: small;
}

.logos-link li{
  margin-bottom: 5px;
}

.logos-link img{
  width: 30px;
  height: auto;
}

.logos-link img{
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.719);
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
}
  
