/* Defina a cor de fundo do corpo */
body {
    background-color: #0c94ac;
}

/* Estilize o cabeçalho */
.area-cabecalho {
    background-color: #045474;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    border: 5px groove #329dc7;
}

.imagem-logo {
    height: 80px;
    width: auto;
}

.perfil-user img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-right: 35px;
}

/* Estilize o menu */
.area-menu {
    background-color: #0c94ac;
    padding: 15px 0;
    border: 5px groove #0c94ac;
}

.area-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.area-menu li {
    display: inline;
    margin: 0 10px; /* Adicione espaçamento entre os itens do menu */
}

.area-menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
}

.area-menu a:hover {
    background-color: #f1af14;
    color: #042f41;
}

/* Estilize a seção de sugestão de filme */
#indicacao-filme {
    float: left;
    width: 40%;
    max-width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: #0c94ac;
    display: flex; /* Correção para a exibição flex */
    flex-direction: column; /* Alinhar o texto e a imagem verticalmente */
    align-items: center;
}

#indicacao-filme h1,
#indicacao-filme .filme-indicado img {
    margin: 0;
}

#indicacao-filme h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px; /* Adicione espaço abaixo do título */
}

#indicacao-filme .filme-indicado img {
    display: block;
    margin-top: 10px;
}

/* Estilize a seção de lista de sugestões */
#lista-sugestoes h1 {
    color: #fff;
    text-align: left;
}

#lista-sugestoes p {
    color: #fff;
    text-align: left;
    margin-right: 10%;
}

.btn-play {
	background-color: #042f41;
    color: #f1af14;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s, background-color 0.3s;
   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-play:hover {
    transform: rotate(360deg);
	color: #042f41;
	background-color: #f1af14;     
}



