
#h1{
  
  text-align: center;
  background-color: #f8c245;
  text-transform: uppercase;
  
}

form{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 250px;
margin: 0 auto;

}

input {
  width: 300px;
  display: block;
  bottom: 100px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 15px;
}

.iniciar {
  display: block;
    background-color: #f8c245;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
